@charset "UTF-8" ; /** acentuação **/
body {
    background-color: darkgray;
    font-family: arial,Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: white;
}
h2 {
    color: gray;
}
p {
    text-align: justify;
}