.modelo02 {
    height: 200px;
    width: 200px;
}

.modelo01 {
    height: 200px;
    width: 200px;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: rotate 3s alternate linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(180deg);
    }
}